Source: camomile
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Kyle Robbertze <paddatrapper@debian.org>
Build-Depends: cppo,
               debhelper-compat (= 13),
               dh-ocaml (>= 1.2),
               docbook-xml,
               docbook-xsl,
               ocaml-dune (>= 1.6.2),
               libdune-ocaml-dev (>= 3.10.0-2~),
               libcamlp-streams-ocaml-dev,
               libxml2-utils,
               ocaml-findlib,
               ocaml,
               opam-installer,
               po4a,
               xsltproc
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/ocaml-team/camomile.git
Vcs-Browser: https://salsa.debian.org/ocaml-team/camomile
Homepage: https://github.com/ocaml-community/Camomile

Package: libcamomile-ocaml-data
Architecture: all
Multi-Arch: foreign
Suggests: libcamomile-ocaml-dev
Depends: ${misc:Depends}
Description: Unicode data for OCaml
 Camomile is a comprehensive Unicode library for objective caml language.
 The library is currently designed to conform Unicode Standard 3.2.
 .
 This package contains the data needed by camomile.

Package: libcamomile-ocaml-dev
Architecture: any
Depends: libcamomile-ocaml-data (= ${source:Version}),
         ${misc:Depends},
         ${ocaml:Depends},
         ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Unicode library for OCaml
 Camomile is a comprehensive Unicode library for objective caml language.
 The library is currently designed to conform Unicode Standard 3.2.
 .
 Normalisers (NFD, NFKD, NFC, NFKC) and collator (string comparison) pass
 the conformance tests defined Unicode Technical Reports. Collator is also
 tested to Canadian, Thai and Japanese standards with their locales.
